Repository gjwang/velo-rift: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (Python lint)
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format (Python)
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy (Python type check)
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: true
        exclude: ^tests/poc/

      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

fix(ci): Stabilize Docker CI and Pytest integration
  pyproject.toml
  scripts/ci-common.sh
  scripts/test-suites.conf
  tests/poc/test_docker_placeholder.py
  uv.lock
Due: ruff, ruff-format

chore: Merge upstream refactor and stabilize full regression suite
  scripts/ci-common.sh
  scripts/test-suites.conf
  scripts/v-integration.sh
Due: none

fix(shim): stabilize modularized shim and resolve linux build regressions
  .githooks/pre-commit
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/lib.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/dir.rs
  crates/vrift-shim/src/syscalls/io.rs
  crates/vrift-shim/src/syscalls/mem.rs
  crates/vrift-shim/src/syscalls/misc.rs
  crates/vrift-shim/src/syscalls/mod.rs
  crates/vrift-shim/src/syscalls/open.rs
  crates/vrift-shim/src/syscalls/path.rs
  crates/vrift-shim/src/syscalls/path_ops.rs
  crates/vrift-shim/src/syscalls/process.rs
  crates/vrift-shim/src/syscalls/stat.rs
  tests/poc/test_docker_placeholder.py
Due: ruff, ruff-format, cargo-fmt, cargo-clippy

test: stabilize e2e_test.py cleanup
  scripts/e2e_test.py
Due: ruff, ruff-format, mypy

feat(rfc): Add acceleration RFCs and QA gap tests
  docs/rfcs/RFC-0047-Syscall-Audit.md
  docs/rfcs/RFC-0050-Live-Mode-Memory-Acceleration.md
  docs/rfcs/RFC-0051-Acceleration-Strategy.md
  docs/rfcs/RFC-0052-L2-Artifact-Cache.md
  tests/poc/test_gap_mutation_perimeter.sh
  tests/poc/test_gap_permission_bypass.sh
Due: none

fix: resolve post-rebase shim symbol conflicts
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/lib.rs
  crates/vrift-shim/src/syscalls/close.rs
  crates/vrift-shim/src/syscalls/dir.rs
  crates/vrift-shim/src/syscalls/io.rs
  crates/vrift-shim/src/syscalls/mem.rs
  crates/vrift-shim/src/syscalls/misc.rs
  crates/vrift-shim/src/syscalls/mmap.rs
  crates/vrift-shim/src/syscalls/mod.rs
  crates/vrift-shim/src/syscalls/open.rs
  crates/vrift-shim/src/syscalls/path.rs
  crates/vrift-shim/src/syscalls/process.rs
  crates/vrift-shim/src/syscalls/stat.rs
Due: cargo-fmt, cargo-clippy

feat(shim): Phase 3 VFS restoration - IPC, stat, rename EXDEV
  Cargo.lock
  Cargo.toml
  crates/vrift-cas/Cargo.toml
  crates/vrift-ipc/Cargo.toml
  crates/vrift-ipc/src/lib.rs
  crates/vrift-manifest/src/lib.rs
  crates/vrift-shim/Cargo.toml
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/ipc.rs
  crates/vrift-shim/src/lib.rs
  crates/vrift-shim/src/path.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/close.rs
  crates/vrift-shim/src/syscalls/dir.rs
  crates/vrift-shim/src/syscalls/io.rs
  crates/vrift-shim/src/syscalls/mem.rs
  crates/vrift-shim/src/syscalls/misc.rs
  crates/vrift-shim/src/syscalls/mmap.rs
  crates/vrift-shim/src/syscalls/open.rs
  crates/vrift-shim/src/syscalls/path.rs
  crates/vrift-shim/src/syscalls/process.rs
  crates/vrift-shim/src/syscalls/stat.rs
  tests/poc/diag_empty.dylib
  tests/poc/diag_empty.rs
  tests/poc/diag_test
  tests/poc/diag_test.c
  tests/poc/hello.c
  tests/poc/test_gap_boundary_rename.sh
Due: cargo-fmt, cargo-clippy

feat(shim): Phase 5 - Directory operations (opendir/readdir/closedir)
  crates/vrift-shim/src/syscalls/dir.rs
Due: cargo-fmt, cargo-clippy

fix: enable VFS boundary enforcement for rename and link
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/misc.rs
  tests/poc/test_gap_boundary_rename.sh
  tests/poc/test_gap_hardlink_corruption.sh
  tests/poc/test_gap_mutation_perimeter.sh
Due: cargo-fmt, cargo-clippy

feat: implement mutation perimeter protection (RFC-0047)
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/syscalls/misc.rs
  tests/poc/test_gap_mutation_perimeter.sh
Due: cargo-fmt, cargo-clippy

fix: update VFS device ID and improve test reliability
  crates/vrift-shim/src/syscalls/stat.rs
  tests/poc/test_fstat_virtual_metadata.sh
  tests/poc/test_getcwd_chdir_virtual.sh
  tests/poc/test_opendir_virtual.sh
  tests/poc/test_realpath_virtual.sh
  tests/poc/test_stat_virtual_mtime.sh
Due: cargo-fmt, cargo-clippy

fix: simplify VFS signature - only set st_dev=LOGO
  crates/vrift-shim/src/syscalls/stat.rs
Due: cargo-fmt, cargo-clippy

fix: use RIFT (0x52494654) as VFS device ID
  crates/vrift-shim/src/syscalls/stat.rs
  tests/poc/test_stat_virtual_mtime.sh
Due: cargo-fmt, cargo-clippy

feat: complete gap test fixes
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/syscalls/misc.rs
  tests/poc/test_flock_root/daemon.pid
  tests/poc/test_gap_renameat_bypass.sh
  tests/poc/test_gap_utimes.sh
  tests/poc/test_mmap_root/daemon.pid
Due: cargo-fmt, cargo-clippy

fix(shim): resolve Linux build regressions from upstream sync
  crates/vrift-shim/src/syscalls/misc.rs
  crates/vrift-shim/src/syscalls/mod.rs
  crates/vrift-shim/src/syscalls/stat.rs
Due: cargo-fmt, cargo-clippy

fix(test): Fix permission bypass test to use C program and VRIFT_VFS_PREFIX
  tests/poc/test_gap_permission_bypass.sh
Due: none

test(shell-first): Add shell-first tests exposing SIP bypass
  tests/poc/test_shell_chmod_interception.sh
  tests/poc/test_shell_mutation_suite.sh
Due: none

fix(shim): resolve VFS open ENOENT bug in test_shim_basic.sh
  crates/vrift-ipc/src/lib.rs
  crates/vrift-shim/src/ipc.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

test(qa): Add cargo crash root cause analysis test
  tests/poc/test_cargo_crash_analysis.sh
Due: none

docs(rfc): add RFC-0053 macOS Shell Interception via FUSE-T
  docs/rfcs/RFC-0053-macOS-Shell-Interception-FUSE.md
Due: none

fix(test): make test_cow.sh non-blocking for shell redirect limitation
  scripts/test_cow.sh
Due: none

fix(test): handle permission denied in test_cow.sh shell redirect
  scripts/test_cow.sh
Due: none

feat(shim): implement RFC-0047 Manifest IPC and FD tracking
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/io.rs
  crates/vrift-shim/src/syscalls/mod.rs
  crates/vrift-shim/src/syscalls/vfs_ops.rs
  tests/poc/test_flock_root/daemon.pid
  tests/poc/test_gap_copy_file_range.sh
  tests/poc/test_gap_ctime.sh
  tests/poc/test_gap_fcntl_lock.sh
  tests/poc/test_gap_readdir_order.sh
  tests/poc/test_gap_sendfile.sh
  tests/poc/test_mmap_root/daemon.pid
  tests/poc/test_rfc0047_mkdir_vfs.sh
  tests/poc/test_rfc0047_rename_vfs.sh
  tests/poc/test_rfc0047_rmdir_vfs.sh
  tests/poc/test_rfc0047_unlink_vfs.sh
Due: cargo-fmt, cargo-clippy

fix(shim): remove fcntl interposition to fix Tokio/cargo crash
  crates/vrift-shim/src/interpose.rs
  tests/poc/test_cargo_shim_stability.sh
Due: cargo-fmt, cargo-clippy

ci(benchmark): auto-install npm if missing
  scripts/benchmark_node_modules.sh
  scripts/benchmark_parallel.sh
Due: none

fix(benchmark): cross-platform stat and graceful ingest failure
  scripts/benchmark_node_modules.sh
  scripts/benchmark_parallel.sh
Due: none

feat(shim): C variadic wrappers for macOS ARM64 open/openat
  crates/vrift-shim/build.rs
  crates/vrift-shim/src/c/variadic_shim.c
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

fix(shim): connect VFS activation and fix raw syscall error handling
  crates/vrift-shim/src/c/variadic_shim.c
  crates/vrift-shim/src/lib.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

refactor(shim): unified C bridge for variadic syscalls and symbol visibility
  crates/vrift-shim/src/c/variadic_shim.c
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

fix(shim): restore linux build and syscall interception
  crates/vrift-shim/build.rs
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/lib.rs
  crates/vrift-shim/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

fix(shim): resolve unused import lint on linux
  crates/vrift-shim/src/interpose.rs
Due: cargo-fmt, cargo-clippy

fix(shim): ensure symbol visibility and init on linux
  crates/vrift-shim/src/c/variadic_shim.c
Due: none

fix(shim): P0 block_vfs_mutation deadlock + flock semantic isolation
  crates/vrift-shim/src/interpose.rs
  crates/vrift-shim/src/syscalls/misc.rs
Due: cargo-fmt, cargo-clippy

docs(rfc-0048): comprehensive Inception Mode architecture + security tiers
  docs/USAGE.md
  docs/rfcs/RFC-0048-Transparent-Binary-Shadowing.md
  test_cow_work/cas/blake3/93/2d/932d2267dd91dad556c983f1c75881860a3935594428ce6bf8c09045247e0997_17.bin
  test_cow_work/source/original.txt
Due: none

feat(cli): add vrift init command with auto-inception
  crates/vrift-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(inception): add vrift wrapper to .vrift/bin for DYLD bypass
  crates/vrift-cli/src/inception.rs
Due: cargo-fmt, cargo-clippy

feat(ux): subshell mode - just run vrift to enter inception
  crates/vrift-cli/src/inception.rs
  crates/vrift-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(shim): Fix COW path mismatch - strip project_root before ManifestGet IPC
  crates/vrift-shim/src/state.rs
  scripts/test_cow_behavior.sh
  scripts/test_vfs_behavior.sh
Due: cargo-fmt, cargo-clippy
