Repository gjwang/velo-rift: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff (Python lint)
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true

      - id: ruff-format
        name: ruff format (Python)
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy (Python type check)
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: true
        exclude: ^tests/poc/

      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code
        entry: cargo fmt --all
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code
        entry: cargo clippy --workspace --all-targets -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

feat(live-ingest): RFC-0039 Live Ingest implementation
  Cargo.lock
  crates/vrift-shim/src/state.rs
  crates/vrift-shim/src/syscalls/misc.rs
  crates/vrift-vdird/Cargo.toml
  crates/vrift-vdird/src/ingest.rs
  crates/vrift-vdird/src/lib.rs
  crates/vrift-vdird/src/scan.rs
  crates/vrift-vdird/src/watch.rs
  tests/qa_v2/test_live_ingest_qa.sh
Due: cargo-fmt, cargo-clippy

feat(cli): add manifest query/list/stats and sync commands (RFC-0039)
  crates/vrift-cli/src/main.rs
  tests/qa_v2/test_live_ingest_qa.sh
Due: cargo-fmt, cargo-clippy

fix(test): use real VFS path in test_secondary_mutation.sh
  tests/qa_v2/test_secondary_mutation.sh
Due: none

feat(daemon): P0/P1/P2 Live Ingest improvements
  Cargo.lock
  crates/vrift-vdird/Cargo.toml
  crates/vrift-vdird/src/ignore.rs
  crates/vrift-vdird/src/lib.rs
  crates/vrift-vdird/src/scan.rs
  crates/vrift-vdird/src/state.rs
  crates/vrift-vdird/src/watch.rs
Due: cargo-fmt, cargo-clippy

feat(config): config-based ignore patterns (no hardcode)
  Cargo.lock
  crates/vrift-config/src/lib.rs
  crates/vrift-vdird/Cargo.toml
  crates/vrift-vdird/src/ignore.rs
Due: cargo-fmt, cargo-clippy

fix(config): .git in config file not hardcoded
  config.toml.example
  crates/vrift-config/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(ingest): store file content to CAS before manifest update
  crates/vrift-vdird/src/ingest.rs
  crates/vrift-vdird/src/lib.rs
Due: cargo-fmt, cargo-clippy

feat(ingest): auto-classify files into Tier1/Tier2 based on config
  crates/vrift-vdird/src/ingest.rs
Due: cargo-fmt, cargo-clippy

feat(tests): add E2E live ingest test suite
  tests/integration/test_live_ingest_e2e.sh
Due: none

feat(ingest): configurable dedup window + macOS vdir path fix
  crates/vrift-config/src/lib.rs
  crates/vrift-vdird/src/ingest.rs
  crates/vrift-vdird/src/lib.rs
  examples/config.toml
  tests/integration/test_live_ingest_e2e.sh
Due: cargo-fmt, cargo-clippy

feat(ingest): batch processing + async CAS storage
  crates/vrift-config/src/lib.rs
  crates/vrift-vdird/src/ingest.rs
  crates/vrift-vdird/src/lib.rs
  examples/config.toml
Due: cargo-fmt, cargo-clippy

test(qa): Split into two bug proof test cases
  tests/integration/test_bug_enoent_crash.sh
  tests/integration/test_bug_vrift_not_ignored.sh
  tests/integration/test_fs_watch_bug.sh
Due: none

fix(test): correct Bug #2 test false positive
  tests/integration/test_bug_vrift_not_ignored.sh
Due: none

fix(tests): macOS compatibility - replace timeout with watchdog
  tests/integration/test_complete_startup.sh
Due: none

fix(benchmark): use actual ingest time instead of wall clock
  docs/BENCHMARK.md
  scripts/benchmark_suite.py
Due: ruff, ruff-format, mypy

fix: benchmark scripts cleanup and warmup issues
  docs/BENCHMARK.md
  scripts/benchmark_parallel.sh
  tests/poc/benchmark_vfs_vs_fs.sh
Due: none

fix(shim): use libc::c_char for cross-platform compatibility
  crates/vrift-shim/src/syscalls/stat.rs
Due: cargo-fmt, cargo-clippy

feat: implement IngestFullScan in global daemon
  Cargo.lock
  crates/vrift-daemon/Cargo.toml
  crates/vrift-daemon/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: restore xlarge_package.json for benchmark
  examples/benchmarks/xlarge_package.json
Due: none

perf: optimize pre-commit hook to skip checks for unchanged file types
  .githooks/pre-commit
Due: none

docs: update benchmark results with full dataset coverage
  docs/BENCHMARK.md
Due: none

perf(cas): v3.10 ingest optimization - tiered hash, warm_directories, optimistic flock
  crates/vrift-cas/BENCHMARK.md
  crates/vrift-cas/src/lib.rs
  crates/vrift-cas/src/zero_copy_ingest.rs
Due: cargo-fmt, cargo-clippy

feat(cas): streaming ingest with producer-consumer pipeline
  Cargo.lock
  crates/vrift-cas/Cargo.toml
  crates/vrift-cas/src/lib.rs
  crates/vrift-cas/src/streaming_ingest.rs
  crates/vrift-daemon/src/main.rs
Due: cargo-fmt, cargo-clippy

chore(streaming): clean up redundant type annotations and variables
  crates/vrift-cas/src/streaming_ingest.rs
Due: cargo-fmt, cargo-clippy

perf(streaming): switch to crossbeam-channel for efficient parking
  crates/vrift-cas/src/streaming_ingest.rs
Due: cargo-fmt, cargo-clippy

fix(e2e): resolve test hang in Phase B ingestion
  crates/vrift-cas/src/streaming_ingest.rs
  crates/vrift-cli/src/daemon.rs
  crates/vrift-daemon/src/main.rs
  tests/qa_v2/test_e2e_golden_path.sh
Due: cargo-fmt, cargo-clippy

fix(tests): macOS compatibility for E2E tests
  tests/e2e/test_cargo_incremental.sh
  tests/e2e/test_rustc_single_file.sh
Due: none

refactor: add IPC versioning and test infrastructure
  crates/vrift-cli/src/daemon.rs
  crates/vrift-config/Cargo.toml
  crates/vrift-config/src/lib.rs
  crates/vrift-config/src/testing.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
  crates/vrift-vdird/tests/integration.rs
Due: cargo-fmt, cargo-clippy

refactor: add structured logging and migrate path handling
  Cargo.lock
  crates/vrift-cli/src/daemon.rs
  crates/vrift-config/Cargo.toml
  crates/vrift-config/src/lib.rs
  crates/vrift-config/src/logging.rs
Due: cargo-fmt, cargo-clippy

feat(config): add path security utilities for unified normalization
  crates/vrift-config/src/path.rs
Due: cargo-fmt, cargo-clippy

refactor(ipc): remove From<String> compat, use explicit VeloError constructors
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
  crates/vrift-vdird/src/socket.rs
Due: cargo-fmt, cargo-clippy

feat(vdird): add crash recovery features
  Cargo.lock
  crates/vrift-vdird/Cargo.toml
  crates/vrift-vdird/src/journal.rs
  crates/vrift-vdird/src/lib.rs
  crates/vrift-vdird/src/state.rs
  crates/vrift-vdird/src/vdir.rs
Due: cargo-fmt, cargo-clippy

refactor(daemon): migrate to centralized path utilities
  Cargo.lock
  crates/vrift-daemon/Cargo.toml
  crates/vrift-daemon/src/main.rs
Due: cargo-fmt, cargo-clippy

fix(cli): remove auto-inception from init, fix test compatibility
  crates/vrift-cli/src/main.rs
  tests/qa_v2/test_value_1_dedup.sh
Due: cargo-fmt, cargo-clippy

refactor(ipc): migrate from bincode to rkyv for zero-copy serialization
  Cargo.lock
  Cargo.toml
  crates/vrift-ipc/Cargo.toml
  crates/vrift-ipc/src/lib.rs
  crates/vrift-manifest/Cargo.toml
  crates/vrift-manifest/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: migrate bincode to rkyv across all IPC components
  Cargo.lock
  crates/vrift-daemon/Cargo.toml
  crates/vrift-daemon/examples/trigger_exploit.rs
  crates/vrift-manifest/src/lib.rs
  crates/vrift-shim/Cargo.toml
  crates/vrift-shim/src/ipc.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-vdird/Cargo.toml
  crates/vrift-vdird/src/journal.rs
  crates/vrift-vdird/src/lib.rs
  crates/vrift-vdird/src/socket.rs
  crates/vrift-vdird/src/state.rs
  crates/vrift-vdird/tests/integration.rs
Due: cargo-fmt, cargo-clippy

fix(test): add vrift init before ingest in v-inception-stress.sh
  tests/qa_v2/v-inception-stress.sh
Due: none

refactor(cli): deprecate cmd_ingest, use daemon::ingest_via_daemon in cmd_watch
  crates/vrift-cli/src/main.rs
Due: cargo-fmt, cargo-clippy

feat(shim): circuit breaker auto-recovery & cleanup
  crates/vrift-shim/src/ipc.rs
  crates/vrift-shim/src/state.rs
  tests/qa_v2/mini_read.c
Due: cargo-fmt, cargo-clippy

refactor: harden IPC, unify path configs, and fix CAS path construction
  Cargo.lock
  crates/vrift-cli/src/daemon.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-cli/src/preflight.rs
  crates/vrift-config/Cargo.toml
  crates/vrift-config/src/lib.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-shim/src/state.rs
  crates/vrift-vdird/src/commands.rs
Due: cargo-fmt, cargo-clippy
