Repository gjwang/velo-rift: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, cargo-fmt, cargo-clippy

ruff:
  name: ruff (Python lint)
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format (Python)
  entry: uv run ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy (Python type check)
  entry: uv run mypy
  language: system
  pass_filenames: true

cargo-fmt:
  name: cargo fmt
  description: Format Rust code
  entry: cargo fmt --all
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code
  entry: cargo clippy --workspace --all-targets -- -D warnings
  language: system
  pass_filenames: false

feat(config): unify CAS path resolution and fix ~ expansion
  crates/vrift-inception-layer/src/state.rs
  crates/vrift-vdird/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor(ipc): remove ignored cas_root from IngestFullScan
  crates/vrift-cli/src/daemon.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
Due: cargo-fmt, cargo-clippy

feat(inception): harden initialization safety (UE hang fix)
  crates/vrift-inception-layer/src/path.rs
  crates/vrift-inception-layer/src/state.rs
  crates/vrift-inception-layer/src/syscalls/dir.rs
  crates/vrift-inception-layer/src/syscalls/io.rs
  crates/vrift-inception-layer/src/syscalls/open.rs
  crates/vrift-inception-layer/src/syscalls/stat.rs
  scripts/demo_phantom.sh
  scripts/test_shim_basic.sh
  scripts/v-integration.sh
  tests/e2e/test_rustc_single_file.sh
Due: cargo-fmt, cargo-clippy

feat(qa): add comprehensive test runner and isolation diagnostic tools
  tests/lib/test_stat.c
  tests/run_comprehensive_suite.sh
  tests/run_emergent_isolation.sh
Due: none

chore: finalize v3.22.0 stabilization and regression fixes
  crates/vrift-cli/src/daemon.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/state.rs
  crates/vrift-inception-layer/src/syscalls/misc.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
  crates/vrift-vdird/src/socket.rs
  scripts/demo_gc.sh
  scripts/test_abi_hazard.sh
  scripts/test_cow.sh
  scripts/test_cow_behavior.sh
  scripts/test_logging_v2.sh
  scripts/test_resilience.sh
  tests/qa_v2/repro_inception_rwlock_hang.sh
  tests/qa_v2/repro_rwlock_stress.sh
  tests/qa_v2/test_boot_safety.sh
  tests/qa_v2/test_e2e_golden_path.sh
  tests/qa_v2/test_live_ingest_qa.sh
  tests/qa_v2/test_rename_interface.sh
  tests/qa_v2/test_rfc0039_vfs_creation.sh
  tests/qa_v2/test_secondary_mutation.sh
  tests/qa_v2/test_solid_mode_compiler_output.sh
  tests/qa_v2/test_value_1_dedup.sh
  tests/qa_v2/test_value_2_rename.sh
  tests/qa_v2/test_vdir_cargo_build.sh
  tests/qa_v2/test_vdir_compiler_advanced.sh
  tests/qa_v2/test_vdir_compiler_workflow.sh
  tests/qa_v2/test_vdir_daemon_resilience.sh
  tests/qa_v2/test_vdir_edge_cases.sh
  tests/qa_v2/test_vdir_verify_all.sh
  tests/qa_v2/v-inception-stress.sh
Due: cargo-fmt, cargo-clippy

fix(test): update integration test for IPC v4 (u16 -> u32)
  crates/vrift-cli/src/main.rs
  crates/vrift-vdird/src/commands.rs
  crates/vrift-vdird/tests/integration.rs
Due: cargo-fmt, cargo-clippy

chore: exclude tests from pre-commit clippy check
  .githooks/pre-commit
Due: none

fix(config): unify VR_THE_SOURCE path expansion logic in inception layer
  crates/vrift-inception-layer/src/state.rs
Due: cargo-fmt, cargo-clippy

fix(vfs): resolve Dirty semantics consistency risk during reingest
  crates/vrift-daemon/src/main.rs
  crates/vrift-inception-layer/src/state.rs
  crates/vrift-inception-layer/src/sync/fd_table.rs
  crates/vrift-inception-layer/src/syscalls/io.rs
  crates/vrift-inception-layer/src/syscalls/open.rs
  crates/vrift-inception-layer/src/syscalls/stat.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/socket.rs
  tests/poc/verify_dirty_consistency.sh
  tests/poc/verify_dirty_real.sh
Due: cargo-fmt, cargo-clippy

fix(inception): Project ID canonicalization for mmap cache consistency
  crates/vrift-cli/src/main.rs
  crates/vrift-config/src/path.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-inception-layer/src/c/variadic_inception.c
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/path.rs
  crates/vrift-inception-layer/src/state.rs
  crates/vrift-inception-layer/src/syscalls/io.rs
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
  crates/vrift-inception-layer/src/syscalls/open.rs
  crates/vrift-inception-layer/src/syscalls/stat.rs
  crates/vrift-inception-layer/src/syscalls/vfs_ops.rs
  crates/vrift-vdird/src/lib.rs
  crates/vrift-vdird/src/main.rs
  tests/qa_v2/test_e2e_golden_path.sh
Due: cargo-fmt, cargo-clippy

refactor(tests): SSOT - test_vdir_verify_all.sh sources shared test_setup.sh
  tests/qa_v2/test_setup.sh
  tests/qa_v2/test_vdir_verify_all.sh
Due: none

refactor(tests): SSOT - 6 more test scripts now source test_setup.sh
  tests/qa_v2/test_vdir_cargo_build.sh
  tests/qa_v2/test_vdir_compiler_advanced.sh
  tests/qa_v2/test_vdir_compiler_workflow.sh
  tests/qa_v2/test_vdir_daemon_resilience.sh
  tests/qa_v2/test_vdir_edge_cases.sh
Due: none

refactor(qa): split edge_cases into edge_cases + concurrency (19/19 pass)
  tests/qa_v2/test_vdir_concurrency.sh
Due: none

refactor(qa): extract shared test_harness.sh — eliminate 385 lines of duplication
  tests/qa_v2/lib/test_harness.sh
  tests/qa_v2/test_live_ingest_qa.sh
  tests/qa_v2/test_rfc0039_vfs_creation.sh
  tests/qa_v2/test_setup.sh
  tests/qa_v2/test_vdir_cargo_build.sh
  tests/qa_v2/test_vdir_compiler_advanced.sh
  tests/qa_v2/test_vdir_compiler_workflow.sh
  tests/qa_v2/test_vdir_concurrency.sh
  tests/qa_v2/test_vdir_daemon_resilience.sh
  tests/qa_v2/test_vdir_edge_cases.sh
  tests/qa_v2/test_vdir_verify_all.sh
Due: none

fix(workspace): include vrift-inception-layer in default-members
  Cargo.toml
Due: none

hardening: post-BUG-007b safety improvements
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/state.rs
  tests/qa_v2/check_stack_frame.sh
  tests/qa_v2/test_rwlock_stress.sh
  tests/test_isolation.sh
Due: cargo-fmt, cargo-clippy

refactor(inception): split state.rs into state/{mod,init,worker}.rs
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/lib.rs
  crates/vrift-inception-layer/src/raw_context.rs
  crates/vrift-inception-layer/src/state/init.rs
  crates/vrift-inception-layer/src/state/mod.rs
  crates/vrift-inception-layer/src/state/worker.rs
  crates/vrift-inception-layer/src/sync/ring_buffer.rs
Due: cargo-fmt, cargo-clippy

feat(inception): Phase 3 — fire-and-forget IPC for manifest mutations
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/state/mod.rs
  crates/vrift-inception-layer/src/state/worker.rs
  crates/vrift-inception-layer/src/sync/ring_buffer.rs
Due: cargo-fmt, cargo-clippy

test(qa): add gap tests, shell mutation suite, and ring buffer benchmark
  tests/qa_v2/bench_ringbuffer_standalone.sh
  tests/qa_v2/test_gap_fchown_bypass.sh
  tests/qa_v2/test_gap_mutation_perimeter.sh
  tests/qa_v2/test_gap_readlinkat.sh
  tests/qa_v2/test_hardlink_count.sh
  tests/qa_v2/test_shell_mutation_suite.sh
Due: none

fix(tests/poc): fix test infrastructure issues across 12 POC scripts
  tests/poc/bug_symlink_resolve.sh
  tests/poc/repro_inception_init_race.sh
  tests/poc/test_gap_fchmod_bypass.sh
  tests/poc/test_gap_flock_semantic.sh
  tests/poc/test_gap_mkdirat_bypass.sh
  tests/poc/test_gap_mmap_shared.sh
  tests/poc/test_gap_unlinkat_bypass.sh
  tests/poc/test_inception_init_hang.sh
  tests/poc/test_inception_no_manifest.sh
  tests/poc/test_restart_recovery.sh
  tests/poc/test_scenario_make_idempotency.sh
  tests/poc/verify_core_p0.sh
Due: none

fix(shim): close 5 interpose table gaps
  crates/vrift-inception-layer/src/interpose.rs
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
  crates/vrift-inception-layer/src/syscalls/misc.rs
Due: cargo-fmt, cargo-clippy

fix(shim): fix 12 wrong syscall numbers, symlink recursion, xattr bypass
  crates/vrift-inception-layer/src/interpose.rs
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
  crates/vrift-inception-layer/src/syscalls/misc.rs
  tests/qa_v2/test_symlink_no_recursion.sh
  tests/qa_v2/test_syscall_number_audit.sh
  tests/qa_v2/test_xattr_bypass.sh
Due: cargo-fmt, cargo-clippy

fix: resolve manifest EEXIST and test suite failures (15/24 pass)
  crates/vrift-cli/src/main.rs
  crates/vrift-manifest/src/lmdb.rs
  tests/poc/test_deep_path_nesting.sh
  tests/poc/test_gap_fchown_bypass.sh
  tests/poc/test_issue3_single_file_ingest.sh
  tests/poc/test_issue7_lmdb_transition.sh
  tests/poc/test_special_filenames.sh
Due: cargo-fmt, cargo-clippy

feat: implement logical flock and fix manifest prefix mismatch hazard
  crates/vrift-cli/src/main.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-inception-layer/src/path.rs
  crates/vrift-inception-layer/src/state/worker.rs
  crates/vrift-inception-layer/src/syscalls/io.rs
  crates/vrift-inception-layer/src/syscalls/linux_raw.rs
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
  crates/vrift-inception-layer/src/syscalls/misc.rs
  crates/vrift-inception-layer/src/syscalls/open.rs
Due: cargo-fmt, cargo-clippy

fix: remove bogus SYS_UTIMENSAT/SYS_FUTIMENS macOS syscall numbers
  crates/vrift-inception-layer/src/interpose.rs
  crates/vrift-inception-layer/src/ipc.rs
  crates/vrift-inception-layer/src/raw_context.rs
  crates/vrift-inception-layer/src/reals.rs
  crates/vrift-inception-layer/src/state/init.rs
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
  crates/vrift-inception-layer/src/syscalls/misc.rs
Due: cargo-fmt, cargo-clippy

fix: raw_realpath infinite recursion under DYLD_FORCE_FLAT_NAMESPACE
  crates/vrift-inception-layer/src/syscalls/macos_raw.rs
Due: cargo-fmt, cargo-clippy

fix(qa_v2): fix 4 failing tests — SIP bypass, macOS compat, probe ordering
  tests/qa_v2/test_gap_fchown_bypass.sh
  tests/qa_v2/test_gap_mutation_perimeter.sh
  tests/qa_v2/test_shell_mutation_suite.sh
  tests/qa_v2/test_symlink_no_recursion.sh
Due: none

fix(tests): fix all 8 remaining POC test failures
  tests/poc/benchmark_stat_simple.sh
  tests/poc/bug_symlink_resolve.sh
  tests/poc/repro_inception_init_race.sh
  tests/poc/repro_manifest_key_mismatch.sh
  tests/poc/test_gap_exchangedata.sh
  tests/poc/test_gap_flock_semantic.sh
  tests/poc/test_getcwd_chdir_virtual.sh
  tests/poc/test_stat_virtual_mtime.sh
Due: none

feat(config): unified TOML config SSOT
  crates/vrift-cli/src/daemon.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-cli/src/preflight.rs
  crates/vrift-config/src/lib.rs
  crates/vrift-daemon/src/main.rs
  flock_test.c
Due: cargo-fmt, cargo-clippy

fix(config): validate socket path, fallback to /tmp/vrift.sock
  crates/vrift-config/src/lib.rs
  crates/vrift-config/src/testing.rs
  crates/vrift-daemon/src/main.rs
Due: cargo-fmt, cargo-clippy

feat(config+qa): 8-item improvement batch
  crates/vrift-cli/src/main.rs
  crates/vrift-config/src/lib.rs
  crates/vrift-daemon/src/main.rs
  tests/qa_v2/run_all_qa.sh
Due: cargo-fmt, cargo-clippy

feat: Architecture Convergence Phase 1.2/1.3/2 — MAP_SHARED seqlock reader + env injection
  crates/vrift-cli/src/inception.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-inception-layer/src/state/init.rs
  crates/vrift-inception-layer/src/state/mod.rs
  crates/vrift-inception-layer/src/syscalls/stat.rs
  crates/vrift-ipc/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: generation recovery, content_hash fill, seqlock tests
  crates/vrift-inception-layer/src/state/mod.rs
  crates/vrift-vdird/src/vdir.rs
Due: cargo-fmt, cargo-clippy

fix: round 3 robustness - readdir cleanup, graceful shutdown, begin_write audit
  crates/vrift-daemon/src/main.rs
  crates/vrift-inception-layer/src/state/mod.rs
Due: cargo-fmt, cargo-clippy

test: add VDir robustness verification script
  scripts/test_vdir_robustness.sh
Due: none

fix: pass CAS root from CLI through IPC to daemon (precedence: CLI > env > config)
  crates/vrift-cli/src/daemon.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
Due: cargo-fmt, cargo-clippy

docs: update BENCHMARK.md with correct CAS-isolated metrics and re-ingest data
  docs/BENCHMARK.md
Due: none

docs: update BENCHMARK with all 5 datasets (incl. XXLarge 194k files at 4,090/s)
  docs/BENCHMARK.md
  scripts/benchmark_suite.py
Due: ruff, ruff-format, mypy

fix: add shared test_common.sh helper with safe_rm for CAS cleanup
  tests/helpers/test_common.sh
  tests/poc/test_gap_boundary_rename.sh
  tests/poc/test_gap_copy_file_range.sh
  tests/poc/test_gap_ctime.sh
  tests/poc/test_gap_dup_tracking.sh
  tests/poc/test_gap_exchangedata.sh
  tests/poc/test_gap_fchdir.sh
  tests/poc/test_gap_fchmod_bypass.sh
  tests/poc/test_gap_fchown_bypass.sh
  tests/poc/test_gap_fcntl_lock.sh
  tests/poc/test_gap_flock_semantic.sh
  tests/poc/test_gap_ftruncate.sh
  tests/poc/test_gap_hardlink_corruption.sh
  tests/poc/test_gap_inode_uniqueness.sh
  tests/poc/test_gap_lseek.sh
  tests/poc/test_gap_mkdirat_bypass.sh
  tests/poc/test_gap_mmap_shared.sh
  tests/poc/test_gap_mutation_perimeter.sh
  tests/poc/test_gap_permission_bypass.sh
  tests/poc/test_gap_readdir_order.sh
  tests/poc/test_gap_readlinkat.sh
  tests/poc/test_gap_renameat_bypass.sh
  tests/poc/test_gap_sendfile.sh
  tests/poc/test_gap_st_dev.sh
  tests/poc/test_gap_st_nlink.sh
  tests/poc/test_gap_symlink.sh
  tests/poc/test_gap_unlinkat_bypass.sh
  tests/poc/test_gap_utimes.sh
  tests/poc/test_gap_xattr.sh
Due: none

feat(P0): mtime+size cache skip for re-ingest + --force-hash flag
  crates/vrift-cas/src/lib.rs
  crates/vrift-cas/src/parallel_ingest.rs
  crates/vrift-cas/src/streaming_ingest.rs
  crates/vrift-cas/src/zero_copy_ingest.rs
  crates/vrift-cli/src/daemon.rs
  crates/vrift-cli/src/main.rs
  crates/vrift-daemon/src/main.rs
  crates/vrift-ipc/src/lib.rs
  crates/vrift-vdird/src/commands.rs
  docs/BENCHMARK.md
  scripts/benchmark_suite.py
Due: ruff, ruff-format, mypy, cargo-fmt, cargo-clippy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/poc/
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
